<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AzuPassProfileMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- URL donde se hospeda el Servicio Web XML "AzuPass" -->
    <!--add key="TEICOCF.WebServices.AzuPass" value="http://www.cf.azcuba.cu/AzuPass/AzuPass.asmx"/-->
    <!--add key="TEICOCF.WebServices.AzuPass" value="http://localhost/AzuPass/AzuPass.asmx"/-->
    <!-- Nombre completo de esta aplicación. -->
    <add key="ApplicationFullName" value="Administrador de perfiles"/>
    <!-- Nombre corto de esta aplicación. -->
    <add key="ApplicationShortName" value="AzuPassProfileMgr"/>
  </appSettings>

  <connectionStrings/>

  <system.web>

    <httpRuntime executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false"
    minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />

    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", 
          "Forms", "Passport" y "None"

          "None" No se realiza ninguna autenticación. 
          "Windows" IIS realiza la autenticación (básica, implícita o Windows integrada) de acuerdo con 
          la configuración de la aplicación. Se debe deshabilitar el acceso anónimo en IIS. 
          "Forms" El usuario proporciona un formulario personalizado (página Web) para introducir las credenciales y, a continuación, 
          autenticarlas en la aplicación. Un símbolo (token) de credencial de usuario se almacena en una cookie.
          "Passport" La autenticación se realiza mediante un servicio de autenticación centralizado proporcionado
          por Microsoft que ofrece un inicio de sesión único y servicios de perfil principal para sitios miembro.
    -->
    <authentication mode="Forms">
      <forms name=".AzuPassAuth" loginUrl="index.aspx" protection="None" timeout="60" path="/" requireSSL="false" slidingExpiration="true"/>
    </authentication>

    <!-- Esta cofiguración tiene que ser igual en todas las aplicaciones que se integren a la SSO (Single Sign-On)-->
    <!--machineKey validationKey="GSKLPWEYIRTOCXAIC50BCABEMLSDFOPRETCFGKJHBNWQZXAT" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/-->
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1"/>

    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establezca el modo customErrors como "On" o "RemoteOnly" para habilitar los mensajes de error personalizados y como "Off" para deshabilitarlos. 
          Agregue etiquetas <error> para cada error que desee controlar.

          "On" Mostrar siempre mensajes personalizados (descriptivos).  
          "Off" Mostrar siempre información de error detallada de ASP.NET.
          "RemoteOnly" Mostrar mensajes personalizados (descriptivos) sólo a usuarios que no se estén ejecutando 
          en el servidor Web local. Se recomienda esta configuración por motivos de seguridad, para que 
          no se muestre información detallada de la aplicación a clientes remotos.

          The <customErrors> section enables configuration 
          of what to do if/when an unhandled error occurs 
          during the execution of a request. Specifically, 
          it enables developers to configure html error pages 
          to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/error.htm"/>

    <!--  AUTORIZACIÓN 
          Esta sección establece las directivas de autorización de la aplicación. Puede permitir o denegar el acceso 
          a los recursos de la aplicación por usuario o función. Comodines: "*" incluye a todo el mundo, "?" incluye a usuarios anónimos 
          (sin autenticar).
    -->
    <authorization>
      <!-- Denegar a los anónimos -->
      <deny users="?"/>
      <!--allow users="*"/-->
      <!-- Permitir a todos los usuarios -->
      <!--  <allow     users="[lista de usuarios separados por comas]"
                             roles="[lista de funciones separadas por comas]"/>
                  <deny      users="[lista de usuarios separados por comas]"
                             roles="[ lista de funciones separadas por comas]"/>
            -->
    </authorization>

    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
          ATENCIÓN: Cuidado con el valor de "responseEncoding", el cual debe ser establecido a "utf-8"
          ya que de lo contrario, por ejemplo si lo establecemos a "iso-8859-1", entonces el contenido 
          de los los ficheros ".js" y otros enviados al cliente no son correctamente interpretados por
          algunos navegadores, por ejemplo "Firefox" no ejecuta los controles del Ajax Control Toolkit.
          Por otra parte si no establecemos correctamente el valor de la propiedad "responseHeaderEncoding",
          entonces en el caso de palabras con acento y otros caracteres propios del español no aparecerán
          de manera correcta.
    -->
    <!--globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="utf-8" responseHeaderEncoding="iso-8859-1" culture="es-MX" uiCulture="es-MX"/-->
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" responseHeaderEncoding="iso-8859-1" culture="es-MX" uiCulture="es-MX" />

    <pages autoEventWireup="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
      <!-- autoEventWireup establecido en "false" reporta mejor rendimiento. -->
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>

  <!-- Evitar que se compriman los scripts al enviarlos a los browsers.
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler enableCompression="false" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  -->
  
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <!--
			PROTEGER LAS PÁGINAS DE MANERA INDEPENDIENTE, SEGÚN USUARIOS Y ROLES DEL USUARIO.
	-->
  <!-- Publicar esta página para usuarios anónimos -->
  <location path="register.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Publicar esta página para usuarios anónimos -->
  <location path="resend_passwd.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Publicar esta página para usuarios anónimos -->
  <location path="about.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Publicar esta página para usuarios anónimos -->
  <location path="administrar.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Administrador"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <applicationSettings>
    <AzuPassProfileMgr.Properties.Settings>
      <setting name="AzuPassProfileMgr_TEICOCF_WebServices_AzuPass"
        serializeAs="String">
        <value>http://www.cf.azcuba.cu/AzuPass/AzuPass.asmx</value>
      </setting>
    </AzuPassProfileMgr.Properties.Settings>
  </applicationSettings>
</configuration>